.logos{
    width: 80px;
    border-radius: 8px;
}

.footer{
    background-color: black;
    color: white;
    padding-top: 50px;
    padding-bottom: 50px;
  
}
.footer-inside{
    margin-top: 50px;
}

