.recipe_grid{
    display: grid;
    grid-auto-columns: max-content;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    grid-auto-rows: minmax(100px,auto);
    
}

.item{
    grid-row: span 1;
    grid-column:  span 1;
    background-color: #0f0f0f;
    color:white;
    border-radius: 20px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 20px;
    margin-top: 20px;
}

.item img{
    max-width: 100%;
    max-height: 100%;
}