.pagination_contain{
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.pagination_contain button{
    color: white;
    background-color: #0f0f0f;
    width: 200px;
    height:50px;
    margin-left: 10px;
    border: none;
    border-radius: 10px;
    font-size: 19px;
}